<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      <% if (theme.copyright){ %>
        <%- render(theme.copyright, 'pug'); %>
      <% } %>
      &copy; 2015-<%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>&emsp;&emsp;邮箱：zeno-li#qq.com<br>
      <%= __('powered_by') %> <a href="https://hexo.io/" target="_blank">Hexo</a><br />
      <a href="https://mojie.app/register?aff=D3KxAP4P" target="_blank" rel="opener">迷路导航</a>
      <!-- &emsp;&emsp;<a href="https://beian.miit.gov.cn/">蜀ICP备19034130号-1</a> -->
    </div>
  </div>
</footer>
